---
layout: default
title: Bio
permalink: /bio/
classes: page
exhibitions:
- year: 2020
  event_name: smoke
  venue: Big Band Room
  venue_link: https://services.anu.edu.au/campus-environment/facilities-maps/big-band-room
  place: Canberra ACT
- year: 2019
  event_name: The Fig Tree
  venue: AD Space
  venue_link: 
  place: Sydney NSW
- year: 2019
  event_name: Colour Coded
  venue: Drill Hall Gallery
  venue_link: 
  place: Canberra ACT
- year: 2018
  event_name: Performing Drawing
  venue: National Gallery of Australia
  venue_link: 
  place: Canberra ACT
- year: 2018
  event_name: The Curious Feast
  venue: ANU Popup
  venue_link: 
  place: Canberra ACT
- year: 2018
  event_name: The Magic Lantern in Australia
  venue: National Film and Sound Archive
  venue_link: 
  place: Canberra ACT
- year: 2018
  event_name: alt.chi
  venue: Palais de Congrais
  venue_link: 
  place: Montreal QC
- year: 2015
  event_name: The Rendered Experience
  venue: Nishi Gallery
  venue_link: 
  place: Canberra ACT
- year: 2015
  event_name: Graduating Exhibition
  venue: ANU School of Art Main Gallery
  venue_link: 
  place: Canberra ACT
- year: 2013
  event_name: The Mountain
  venue: Belconnen Arts Centre
  venue_link: 
  place: Canberra ACT
- year: 2012
  event_name: Sense
  venue: ANU Photography and Media Arts Photospace
  venue_link: 
  place: Canberra ACT
- year: 2011
  event_name: Site Transformation
  venue: National Gallery of Australia Sculpture Garden
  venue_link: 
  place: Canberra ACT

other_links:
- year: 2020
  title: Sick of AI engines scraping your pics for facial recognition? Here's a way to Fawkes them right up
  url: https://www.theregister.com/2020/07/22/defeat_facial_recognition/
  publication: The Register
- year: 2020
  title: "Reconnaissance faciale : voici comment y échapper sur les réseaux sociaux"
  url: https://www.wedemain.fr/Reconnaissance-faciale-voici-comment-y-echapper-sur-les-reseaux-sociaux_a4828.html
  publication: We Demain
- year: 2020
  title: Blocking Facial Recognition
  url: https://cacm.acm.org/news/245844-blocking-facial-recognition/fulltext
  publication: Communications of the ACM
- year: 2019
  title: Practice-led research by creative re-use in the Australian Research Council Project Heritage in the Limelight
  url: https://www.tandfonline.com/doi/full/10.1080/17460654.2019.1615685
  publication: Early Popular Visual Culture
- year: 2018
  title: OK Computer
  url: https://medium.com/national-gallery-of-australia/ok-computer-29b2f3383f33
  publication: National Gallery of Australia Blog
- year: 2018
  title: Seven Visualization Talks That Terrified Me At CHI
  url: https://eagereyes.org/blog/2018/seven-visualization-talks-that-terrified-me-at-chi
  publication: Eager Eyes

---

    <div class="sm:col-start-2 lg:col-start-2 col-span-8 sm:col-span-6 lg:col-span-4 mt-[100px]">
      <h1 class="text-[3rem] leading-[3.6rem] mb-[3rem]">Kieran Browne is a creative technologist, researcher&nbsp;<wbr>and occasional artist</h1>
      <p class="text-[1rem] leading-[1.5rem] mt-[2rem]">Kieran Browne has a background in visual arts and a PhD in machine learning. His laurels include several peer-reviewed publications, an artwork exhibited at the National Gallery of Australia, and being briefly cited in the French wikipedia article on artificial intelligence. His creative practice is primarily software based but incorporates elements of old media. Amongst his works are drawing machines, generative art, an anti-surveillance camera app, and a ouija board that can compute neural networks.</p>
      <h2 class="font-bold text-[1rem] leading-[1.5rem] mt-[2rem]">Get in touch</h2>
      <p class="text-[1rem] leading-[1.5rem] mt-[1rem]">hello@kieranbrowne.com</p>
      <h2 class="font-bold text-[1rem] leading-[1.5rem] mt-[2rem]">Links and other media</h2>

      {% for link in page.other_links %}
      <p class="text-[1rem] leading-[1.5rem] my-[27px]">{{link.year}}, <a class="underline" href="{{link.url}}">{{link.title}}</a>, <i>{{link.publication}}</i></p>
      {% endfor %}
    </div>

    <div class="col-span-8 sm:col-start-2 sm:col-span-6 lg:col-start-7 lg:col-span-2 lg:mt-[100px]">
      <h2 class="font-bold text-[1rem] leading-[1.5rem]">Exhibitions/Performances</h2>
      {% for show in page.exhibitions %}
      <p class="text-[1rem] leading-[1.5rem] my-[1.5rem]">{{show.year}}, <i>{{show.event_name}}</i>, {{show.venue}}, {{show.place}}</p>
      {% endfor %}
    </div>


