---
layout: default
title: Research
permalink: /research/
sidemenu: research
---

<div class="grid posts">
  <div class="col-3 col-push-1 col-sm-0 col-sm-push-1 col-xs-0 col-xs-push-0">
    <ul class="side-menu">
      {% for post in site.posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <!-- <div class="excerpt"> -->
          <!--   {% capture var %}{{ post.excerpt | slice: 0,130 | strip_html }}...{% endcapture%} -->
          <!--   {{var}} -->
          <!-- </div> -->
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-8 col-sm-10 col-sm-push-1 col-xs-12 col-xs-push-0">
    <div class="spacer-8"></div>
    <div class="works">
      {% for post in site.posts %}
        <div class="work tile" >
          <a href="{{ site.baseurl }}{{ post.url }}"
           {% if post.url == page.url %}
           class="active"
           {% endif %}
           {% if post.thumbnail %}
           style="background-image: url({{post.thumbnail}});"
           {% endif %} >
           <div class="title">
              {{ post.title }}
           </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="spacer-10"></div>
  </div>
</div>
