---
layout: default
title: Research
permalink: /research/
sidemenu: research
---

<div id="machinelearning"></div>
<div id="visualisation"></div>
<div id="code"></div>

<div class="grid posts">
  <div class="col-3 col-push-1 col-sm-0 col-sm-push-1 col-xs-0 col-xs-push-0">
    <ul class="side-menu">
      <li><a href="#machinelearning"><b>Machine Learning</b></a></li>
      <li><a href="#code"><b>Code</b></a></li>
      <li><a href="#visualisation"><b>Visualisation</b></a></li>
    </ul>
  </div>
  <div class="col-8 col-sm-10 col-sm-push-1 col-xs-12 col-xs-push-0">
    <div class="spacer-8"></div>
    <div class="works">
      {% for post in site.posts %}
      <div class="work tile" data-tags="{{ post.tags | join: ','  | remove: " "}}">
          <a href="{{ site.baseurl }}{{ post.url }}"
           {% if post.url == page.url %}
           class="active"
           {% endif %}
           {% if post.thumbnail %}
           style="background-image: url({{post.thumbnail}});"
           {% endif %} >
          </a>
          <div class="title">
            {{ post.title }}
          </div>
          <div class="year">
            {{ post.date | date: "%Y" }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="spacer-10"></div>
  </div>
</div>
