---
---

@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'PP Right Grotesk';
  src: url('https://storage.googleapis.com/kb_site_files/fonts/PPRightGrotesk-Medium.otf');
  /*PPRightGrotesk-Medium*/
}

html { font-family: 'Inter', sans-serif; }

h1 { font-family: 'PP Right Grotesk', sans-serif; }
.fancy-font { font-family: 'PP Right Grotesk', sans-serif; }

article.prose {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1em;
  }

  ul {
    padding-left: 30px;
    list-style: disc;
  }
  ol {
    padding-left: 30px;
    list-style: decimal;
  }

  sup a {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }

  a {
    color: rgb(236, 72, 153);
  }

  h2 {
    font-size: 2rem;
  }
}


.text-block p {
  margin-bottom: 1.3333333em;
}


@import "highlights";

pre.highlight {
  background-color: #eeeeee;
}

@media (prefers-color-scheme: dark) {
}
