---
---

article.prose {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1em;
  }

  sup a {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }

  a {
    color: rgb(236, 72, 153);
  }
}


.text-block p {
  margin-bottom: 1.3333333em;
}


@import "highlights";

pre.highlight {
  background-color: #eeeeee;
}
