---
---

// @import "reset";
@import "variables";
@import "solar";



$white: darken(rgb(252,252,250),3%);
$white: white;
$dark-grey: rgb(85,85,95);
$body-font: 'Vollkorn', Georgia, serif;
// $bodyFont: $helvetica;
$mono-font: 'PT Mono', sans-serif;
$ultra-blue: #5F64F5;
$highlight: $ultra-blue;
$highlight: #7788ff;
$border: $highlight;
$header-height: 3rem;
$mid-text-grey: #aab;


$phi: 1.618;

:root {
  font-size: calc(.6em + 1vw);
  font-size: 14px;
}


$baseline: 8px;

$grid: (
  columns: 12,
  gutter: 2.5rem,
  container: 100vw,
  namespace: ""
);

$sm-grid: (
  columns: 12,
  gutter: 2.5rem,
  container: 100vw,
  namespace: "-sm"
);

$xs-grid: (
  columns: 12,
  gutter: 1.5rem,
  container: 100vw,
  namespace: "-xs"
);

@include gen-grid($grid);

@media screen and (max-width: 800px) {
  @include gen-grid($sm-grid);
}

@media screen and (max-width: 560px) {
  @include gen-grid($xs-grid);
}

body {
  background: $white;
  background: rgb(214,215,218);
  // font-family: $body-font;
  font-family: $helveticaNeue;
  color: $darkGray;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;

  transition: background .4s;

  &.darker {
    background: rgb(124,125,198);
  }
}

// BASIC STYLES

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  font-weight: 500;
}

%mh-auto {
  margin-left: auto;
  margin-right: auto;
}
%article-content {
  @extend %mh-auto;
  max-width: 35rem;
  position: static;
}

ol ,
ul {
  // color: darken(rgb(80,80,100),0%);
  color: darken(rgb(80,80,100),20%);
  @include baseline(14px,$baseline*2.5,$baseline*5);
  @include baseline(1.2rem,2rem,4rem);
  // @extend %article-content;


  li p {
    @include baseline(1.2rem,2rem,2rem);
  }
}

p {
  @include baseline(1.2rem,2rem,4rem);
  color: darken(rgb(80,80,100),20%);
  // @extend %article-content;
  max-width: 35rem;
}

.side-menu {
  @include baseline(14px,$baseline*3,$baseline*10);
  list-style: none;
  margin-left: 0;
  li:before {
    content: none;
  }
}

.works {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes slide-in {
  from { opacity: 0; transform: skewY(-10deg) translate(0,-200px);}
  to {opacity: 1; transform: skewY(0deg) translate(0,0);}
}

.tile {
  width: col-width($grid,4);
  vertical-align: top;

  // &:nth-of-type(2n+1) {
  //   margin-right: map-get($grid,gutter);
  // }

  margin-bottom: map-get($grid,gutter);
  display: inline-block;
  position: relative;

  animation-name: slide-in;
  animation-duration: 1s;
  animation-delay: 1s; 
  animation-fill-mode: both;

  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      animation-delay: 1 - ($i * .1s); 
    }
  }

  &:hover {
    a {
      filter: brightness(0.3) saturate(0.2);
    }
    &:after {
      opacity: 1;
    }
  }
  &:after {
    content: attr(data-title);
    font-family: monospace;
    font-weight: 100;
    color: white;
    font-size: 14px;
    top: 50%;
    transform: translate(0,-50%);
    width: 90%;
    left: 5%;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
  }

  a {
    display: block;
    font-size: 0rem;
    background: #ddd;
    height: col-width($grid,3);
    background-size: cover;
    background-position: center;
    // box-shadow: 0px 5px 29px 0px rgba(80,90,100,0.15);
  }

  &.work a {
    height: col-width($grid,3);
  }

  .title {
    @include baseline(1.1rem,1.5rem,2rem);
    color: rgb(20,20,20);
    font-weight: 500;
    padding-right: 1rem;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
  }
  .year {
    @include baseline(0.9rem,1.5rem);
    color: rgb(20,20,20);
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 1px solid grey;
  }
}

.tags {

  list-style: none;
  padding-left: 0;
  @include baseline(0.9rem,1.5rem,2rem);
  max-width: 40vw;
  @extend %mh-auto;

  li {
    display: inline-block;
    background: #eee;
    padding-left: .4em;
    padding-right: .4em;

    &:before {
      content: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .tile {
    width: col-width($sm-grid,5);

    &.work a {
      height: col-width($sm-grid,4);
    }
  }
}
@media screen and (max-width: 560px) {
  .tile {
    width: col-width($xs-grid,12);
    margin-bottom: map-get($xs-grid,gutter);

    &.work a {
      height: col-width($xs-grid,8);
    }
  }
}


table {
  // @include baseline($baseline*.7,$baseline,$baseline*2);
  @include baseline(14px,$baseline*3,$baseline*10);
  font-family: sans-serif;
  border-collapse: collapse;
  // border-collapse: separate;

  tbody ,
  thead {
  box-sizing: content-box;
    border-bottom: 1px solid #ccc;
    // padding-bottom: 0.5rem;
    padding: 1rem 0;
    padding: 2rem 0;
  }
  tr {
    line-height: 1rem;
    vertical-align: top;
    th , td {
    padding: $baseline 0;
      padding-right: 1.4rem;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

.highlight code {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  white-space: pre-wrap;
}

code {
  @include baseline(14px,$baseline*2,$baseline*5);
  // @include baseline($baseline*.60,$baseline,$baseline*2);
  @include baseline(12px,$baseline*2,$baseline*5);
  @include baseline(1.2rem,2rem,4rem);
  background: #f2f2f2;
  // border-left: 1px solid #ccc;
  padding: .2rem .3rem;
}

div.highlighter-rouge {
  // width: col-width($grid,7);
  // margin-left: (col-width($grid,-1));
  
  code {
    // width: col-width($grid,8);
    // margin-left:
    width: 100%;
    margin-right: 0;
    box-sizing: content-box;
    @include baseline(17px,$baseline*3,$baseline*5,$baseline*3);
  }
}

.highlighter-rouge {

  .c1, .p {
    color: #aaa;
  }
}

.spacer {
  height: 2rem;
}

.spacer-4 {
  height: $baseline*4;
}
.spacer-5 {
  height: $baseline*5;
}
.spacer-8 {
  height: $baseline*8;
}
.spacer-10 {
  height: $baseline*10;
}

.slider:not(.slick-initialized) img ,
.slick-slide img {
  max-width: 100%;
}

p img {
  // width: 130%;
  // margin-left: -15%;
  margin-left: 20rem;
}

.hero {
  margin-top: 3rem;
  width: col-width($grid,12,0);
  margin-left: (col-width($grid,-2,1));
  box-sizing: border-box;

  img {
    width: 100%;
  }
}

iframe  {
  margin: 3rem;
  box-sizing: border-box;
  width: col-width($grid,7,0);
  height: col-width($grid,5,0);
}

figure {
  margin-top: 3rem;
  img {
    max-width: 100%;
  }

  figcaption {
    @include baseline(14px,$baseline*3,$baseline*5);
    border-left: 1px solid grey;
    padding-left: 1rem;
    font-style: italic;
  }
}


@media screen and (min-width:800px) {
  p img:not(.inline) {

    &:before {
      content: "";
      display: block;
    }
  }
}

.slider:not(.slick-initialized) > div {
  display: none;
  &:first-of-type {
    display: block;
  }
}

.slick-slider,
.slick-track,
.slick-slide {
  outline: none;
}

.content blockquote > p {
  color: #333;
  font-weight: 600;
  @include baseline(1.8rem,2rem, 6rem,2rem);
  max-width: 100%;
}

.avatar {
  width: 60%;
  max-width: 200px;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  
  img {
    height: auto;
    width: 100%;
  }
}

ol {
  padding-left: 1.5rem;
}
ul {
  padding-left: 0;
  list-style: none;

  li {
    &:before {
      content: "•";
      padding-right: .6rem;
    }

  }
}

h1:not(.site-title) {
  // @include baseline($baseline*1.8,$baseline*2,$baseline*2);
  // @include baseline(28px,$baseline*4,$baseline*5, 0 ,1.3);
  @include baseline(3rem,3rem,6rem);
  font-weight: 800;
  letter-spacing: -.9px;
  text-align: center;
}

h2 {
  // @include baseline(20px,$baseline*3,$baseline*10);
  @include baseline(2rem,2.5rem,6rem);
  /* color: $highlight; */
  color: $dark-grey;
}

h3 {
  // @include baseline($baseline*.8,$baseline,$baseline*2);
  @include baseline(16px,$baseline*3,$baseline*5);
  @include baseline(1.6rem,2rem,6rem);
  color: $dark-grey
}

h4 {
  // @include baseline($baseline*.65,$baseline,$baseline*2);
  @include baseline(14px,$baseline*2.4,$baseline*5);
  @include baseline(1.4rem,2rem,4rem);
  /* color: #999; */
  color: $dark-grey;
}

.date {
  @include baseline(1.0rem,2rem,4rem,2rem);
  @extend %article-content;
}

#kurzgesagt {
  // @include baseline($baseline*.6,$baseline,$baseline*1.5);
  @include baseline(14px,$baseline*2,$baseline*5);
  font-weight: 400;
  color: $mid-text-grey;
}

.main a {
  border-bottom: 1px solid $dark-grey;

  &:hover {
    border-bottom: 1px solid $highlight;
  }
}

.content {
    position: relative;
    p, ol, ul, h2, h3, h4, h5 {
      @extend %article-content;
      box-sizing: content-box;
        max-width: 35rem;
    }
    blockquote {
      text-align: center;
    }
}
.main {
    position: relative;
    p, h1, ul ,h2 {
        box-sizing: content-box;
    }
}

.bio {
  h2 {
    @include baseline(14px,16px,80px);
    font-weight: 600;
    color: #55555f;
    letter-spacing: .7px;
  }

  p {
    @include baseline(14px,20px,40px);
  }
  a {
    text-decoration: underline;
  }
}


@function str-remove-whitespace($str) {
  @while (str-index($str, ' ') != null) {
    $index: str-index($str, ' ');
    $str: "#{str-slice($str, 0, $index - 1)}#{str-slice($str, $index + 1)}";
  }
  @return $str;
}

@mixin filter($tag) {

  $tag: str-remove-whitespace($tag);
  div##{$tag}:target + div + div + .posts ,
  div##{$tag}:target + div + .posts ,
  div##{$tag}:target + .posts {

    // [data-tags*="#{$tag}"] {
    //   &:nth-of-type(2n) {
    //     margin-right: map-get($grid,gutter);
    //   }
    //   &:nth-of-type(2n+1) {
    //     margin-right: 0;
    //   }
    // }

    .works .tile:not([data-tags*="#{$tag}"]) {
      display: none;
    }

    .side-menu {
      a[href*="#{$tag}"] {
        color: $highlight;
      }
    }
  }
}

@include filter("code");
@include filter("visualisation");
@include filter("machine learning");

@include filter("newmedia");
@include filter("oldmedia");
@include filter("mixedmedia");


a {

  // color: $highlight;
  color: $dark-grey;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  // display: inline-block;
  transition: all .2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
  &.active ,
  &:hover {
    color: $highlight;
    // transform: scale(0.86026) skew(-30deg) rotate(30deg,0deg);
    // transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    // transform: rotateX(20deg) rotateY(-1deg) rotateZ(-04.5deg);
    // transform: rotateX(2deg) rotateY(0deg) rotateZ(-0.5deg);
    // transform: skewX(-19deg);
  }

  // fancy border swipe 
  // &:before, &:after {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   border-bottom: 3px solid $highlight;
  //   content: '';
  //   transition: all .3s;
  //   transform: scale(0,1);
  //   left: 0;
  //   transform-origin: left center;
  // }

  // &:before {
  // }

  // &:after {
  //   border-bottom: 3px solid $white;
  // }

  // &:hover {

  //   &:before {
  //     transform: scale(1,1);
  //   }
  //   &:after {
  //     transform: scale(1,1);
  //     transition-delay:.2s;
  //   }
  // }
}

@media screen and (max-width: 560px) {
  :root {
    font-size: calc(.7em + 1vw);
  }
}

header {
  // height: $header-height;
  // border-bottom: 1px solid $border;
  // position: fixed;
  // width: 100%;
  // background: $white;
  // background-color: #f0f0f0;
  // z-index: 1;
}

canvas {
  transition: transform 2.8s ease-out;
  position: absolute;
}

.front-page footer {
  margin-top: 0;
}

footer {
  margin-top: $header-height;
  padding-bottom: 1rem;

  font-family: $helveticaNeue;
  // border-top: 1px solid $border;
  background-color: #f0f0f0;

  // [class*=col-] {
  //   @include baseline($baseline*.65,$baseline,$baseline*2);
  // }

  .version-number {
    // @include baseline($baseline*.65,$baseline,$baseline*2);
  @include baseline(14px,$baseline*2,$baseline*5);
    color: #777;
  }
}

.front-page #main  {
  padding-top: 0;
}
.post #main {
  // padding-top: $header-height*2;
}
.page #main {
  // padding-top: $header-height;
}

.grid .nav {
  @include baseline(14px,$baseline*2,$baseline*10);
  // text-align: right;
  font-family: $helveticaNeue;
  font-weight: bold;
  a {
    text-decoration: none;
    margin-right: 2rem;
  }
}

.site-title {
  @include baseline(14px,$baseline,$baseline*10);
  // color: $highlight;
  font-weight: bold;
  letter-spacing: -.2px;
}

.canvas-crop {
  // height: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  position: relative;
  height: 100vh;
  // padding-top: $header-height;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: $baseline*5;

  iframe {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.gallery {
  max-width: 100%;
  margin-top: $baseline*3;

  &.inline {

    display: flex;

    div {
      flex-shrink: 1;
      margin-left: map-get($grid,gutter);

      &:first-of-type {
        margin-left: 0;
      }
      

      img {
        width: 100%;
      }
    }
  }
}


// micro-classes
.mono {
  font-family: $mono-font;
}

.sans-serif {
  font-family: $helveticaNeue;
}

.grey-text {
  color: $mid-text-grey;
}

.bold {
  font-weight: 700;
}

.talr {
  text-align: right;
}

.talc {
  text-align: center;
}

.h-100vh {
  height: 100vh;
}

.pt3r {
  padding-top: 3rem;
}

@media (max-width: 800px) {
  .flex-column-reverse-sm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

}

::-moz-selection { /* Code for Firefox */
    color: $white;
    background: $dark-grey;
}

::selection {
    color: $white; 
    background: $dark-grey;
}


// reveal js
.reveal {
  //background: red;
  .slides {
    //background: black;
    height: 1px;
    font-size: 100%;
    background: #f9f9f9;
    > section { 
      padding: 0; 

      &.black {
        background: black;
        h2, h3, p {
          color: white;
        }
      }
      &.white {
        background: white;
      }
      &.tall {
        height: 100%;
      }
    }

    h2 {
      @include baseline(3rem,3rem,4rem);
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 900;
      color: rgb(30,38,50);
    }

    h3 {
      @include baseline(2rem,2.5rem,4rem);
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 400;
      color: rgb(60,68,80);
    }

    ol ,
    ul ,
    blockquote ,
    p {
      @include baseline(1.5rem,2rem, 4rem);
      text-align: left;
      max-width: 30em;
      margin-left: auto;
      color: rgb(30,38,50);
      margin-right: auto;
    }

    blockquote {
      color: #777;
      font-weight: 600;
      //font-style: italic;
      max-width: 24em;
    }

    img {
      font-size: 1.5rem;
      margin-top: 3rem;
      max-height: 50%;
      max-width: 24em;
    }
    img.full {
      max-width: 100%;
      max-height: 100%;
      margin-top: -0.1rem;
      z-index: -1;
      position: relative;
      
    }

    ul {
      @include baseline(1.5rem,3rem, 4rem);
      list-style: none;
      li:before {
        content: "·";
      }
    }
    a {
      color: $highlight;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.footnotes ol li p a { vertical-align: top; }

@import "highlights";
