---
layout: default
---

<div id="newmedia"></div>
<div id="oldmedia"></div>
<div id="mixedmedia"></div>

<div class="posts">
    <div class="spacer-8"></div>
      <div class="works">
        {% for post in site.works reversed  %}
          <div class="work tile" 
               data-title="&lsquo;{{post.title}}&rsquo; ({{post.date | date: "%Y"}})"
               data-tags="{{ post.tags | join: ','  | remove: " "}}"
               >
            <a href="{{ site.baseurl }}{{ post.url }}"
             {% if post.url == page.url %}
             class="active"
             {% endif %}
             {% if post.thumbnail %}
             style="background-image: url({{post.thumbnail}});"
             {% endif %} 
             >
                {{ post.title }}
            </a>
          </div>
        {% endfor %}
      </div>
    <div class="spacer-10"></div>
</div>
