---
title: NMA Pitch
description: Wow
layout: slide
date: 2019-03-22
reveal_config:
  controls: true
  progress: false
  transition: slide
---


{% include slide/title.html background="url(https://cdn-images-1.medium.com/max/1600/1*YGdyMs_QTJILAm6HaoZ75g.jpeg)" style="background-size: cover; background-position: center;" title="" subtitle="" %}

{% include slide/standard.html background="black" style="background-size: contain; background-position: center; background-color: black; background-repeat: no-repeat;"%}

<video src="https://storage.googleapis.com/gweb-experiments.appspot.com/5099-x_degrees.mp4" autoplay loop width="100%"></video>

{% include slide/standard.html background="url(https://cdn-images-1.medium.com/max/1600/1*YGdyMs_QTJILAm6HaoZ75g.jpeg)" style="background-size: cover; background-position: center;" %}

{% include slide/standard.html background="url(http://collectionsearch.nma.gov.au/nmacs-image-download/piction/dams_data/prodderivW/DAMS_INGEST/JOBS/WM_60618335/nma_60664962.jpg)" style="background-size: contain; background-position: center; background-color: black; background-repeat: no-repeat;" %}
