---
layout: default
---

<div class="grid">
  <div class="col-1"></div>
  <div class="col-3 col-sm-10">
    <ul class="side-menu">
      <li><a>Blog posts</a></li>
      <li><a>Articles</a></li>
    </ul>
  </div>
  <div class="col-0 col-sm-1"></div>
  <div class="col-0 col-sm-1"></div>
  <div class="col-7 col-sm-10 main">
    <div class="spacer-5"></div>
    {% if page.url != "/research/" %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    {{ content }}
    <div class="spacer-10"></div>
    {% if page.url != "/research/" %}
    {% include disqus.html %}
    <p>
        <a href="{{site.url}}/research">&larr; Back to Posts</a>
    </p>
    <div class="spacer-10"></div>
    {% endif %}
  </div>

</div>

