---
layout: default
---


<div class="hidden lg:block col-span-8 sm:col-span-6 sm:col-start-2 lg:col-span-2 mt-[100px]">
  {% for post in site.posts %}
  <a class="hover:bg-violet-600" href="{{post.url}}">
    <div class="mb-[16px] text-base hover:bg-gray-200 pl-[20px] ml-[-20px] leading-[32px]">{{post.title}}</div>
  </a>
  {% endfor %}
</div>

  <div class="col-span-8 sm:col-span-6 sm:col-start-2 lg:col-span-4 lg:col-start-4 mt-[100px] mdspecific">
    <article class="prose">
      <h1 class="text-4xl sm:text-6xl leading-[1.2em] mb-8">{{ page.title }}</h1>
      <p class="text-base mb-8">{{ page.date | date_to_long_string }}</p>

      {{ content }}
    </article>

    {% if page.related_posts %}
    <h2 class="fancy-font text-4xl mt-16 mb-8">Related Posts</h2>
      <div class="grid grid-cols-4 gap-[20px] mb-8">
      {% for post in page.related_posts %}
      <div class="col-span-2"><a class="text-xl sm:text-2xl underline" href="{{post.href}}">{{post.title}}</a></div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
