<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
  <style>
  body { margin: 0; overflow: hidden; }
  </style>
</head>
<body>
  <script>
  var s;

  function preload() {
      s = loadShader(
          "https://raw.githubusercontent.com/kieranbrowne/kieranbrowne.github.io/master/glsl/basic.vert",
          "https://raw.githubusercontent.com/kieranbrowne/kieranbrowne.github.io/master/glsl/soft-bodies.frag"
              );
  }

  function setup(){
      createCanvas(windowWidth, windowHeight, WEBGL);
  }

  function draw() {
      s.setUniform('uResolution',[width,height]);
      s.setUniform('uPixelDensity',2);
      s.setUniform('uTime',100+frameCount/40.0);
      shader(s);
      quad(-1,-1, 1,-1, 1,1, -1, 1); // drawing area

  }
  </script>
</body>
</html>
