<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
</head>
<body>
  <div class="reveal">
    <div class="slides">
    {{ content | revealify }}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
  <script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.min.js"></script>
  <script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js"></script>
  <script>
	  var srcUrlPrefix = '//cdn.jsdelivr.net/reveal.js/3.0.0/';
	  Reveal.initialize({
		history: true,
		transition: 'fade',
		transitionSpeed: 'fast',
		backgroundTransition: 'fade',
                embedded: false,
                width: 1280,
                height: 720,
                margin: 0.0,
                display: 'block',
		controls: false,
		dependencies: [
		  { src: srcUrlPrefix + 'plugin/notes/notes.js', async: true }
		]
	  });
  </script>
</body>
</html>
